@charset "UTF-8";

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#body{
	margin-top: 158px;
}

#header {
    position: absolute;
}
#sub-bg{
	position:absolute;
	top:104px;
	width:100%;
	height:54px;
	background-color: #F8D9DD;
	left:0;
	z-index: 1;
}

.sub-menu .on{
   color:#072622;
   transition:0.5s all;
   -webkit-transition:0.5s all;
   -moz-transition:0.5s all;
   -o-transition:0.5s all;
   -ms-transition:0.5s all;
}


.sub-menu{
	position:absolute;
	width:550px;
	left:-50px;
	top: 78px;
	color: #727476;	
}
.sub-menu li{
	margin-left: 0px;
	z-index: 30;
}
.sub-menu.hidden{
	display: none;
}
.sub-menu a{
	color: #727476;	
	width: max-content;
}

.sub-menu > li > a{
			font-size: 15px;
			text-align: center;
			font-weight: 500;
			text-decoration: none;
			padding: 0px 10px 0px 10px;
			display: block;
			z-index:30;
}
.sub-menu li.active a,
.sub-menu li a:hover{
   color:#072622;
   transition:0.5s all;
   -webkit-transition:0.5s all;
   -moz-transition:0.5s all;
   -o-transition:0.5s all;
   -ms-transition:0.5s all;
}

@media all and (min-width:768px) and (max-width:969px){
	.menu-wrapper li {
    	margin-left: 15px;
	}
    .main-menu > li > a {
	    padding: 0px 0px 30px 0px;
    }
}


@media all and (max-width:768px){
	#visual{
		height: 400px;
	}
	#banner-mask {
		height: 400px;
	}
	
}
ol, ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: black;
}

input[type="text"], textarea {
    font-family: 맑은 고딕, 고딕, sans-serif;
}

.hidden{
	display: none;
}

.clearfix::after{
		content:"";
		clear:both;
		display:block;
	}
/* All Device */
.content-container {
 	margin: auto;
	width: 1140px;
	min-height: inherit;
	height: inherit; 
}

.btn-border {
	border: 1px solid #808080;
	border-radius: 8px;
	padding: 10px 25px;
}

/* header style */
#header {
	position: fixed;
	width: 100%;
	z-index: 99;
	background-color: white;
	top: 0;
}

#logo {
	padding-left:10px;
	padding-top: 10px; 
	width : 80px;
	height: 80px;
	z-index: 7;
	float: left;
}

/* 메뉴 */
#menu-container{
	float:right;
	padding-top:1em;
}
.menu-wrapper{
	float:left;
	display:block;
	padding-top:1em;
}

	
	.menu-wrapper{
		position:relative;
	}
		.menu-wrapper ul{
			list-style-type: none;
			margin: 0px;
			padding: 0px;
		}
		.menu-wrapper li{
			display:inline;
			float:left;
			postion:relative;
			margin-left:30px;
		}
		.menu-wrapper a{
			display:inline-block;
			text-align:center;
			text-decoration:none;
			line-height:40px;
		}
	
		.menu-wrapper ul li{
			position: relative;
		}
		.main-menu {
		    padding-top: 1em;
		}
		
		.main-menu li{
			float:left;
		}
		
		.main-menu > li > a{
			color: #727476;
			font-size: 15px;
			text-align: center;
			font-weight: 500;
			text-decoration: none;
			border-bottom: 2px solid #fff;
			padding: 0px 10px 30px 10px;
			display: block;
		}
		.main-menu > li.active > a, 
		.main-menu > li > a:hover{
		   color:#F8D9DD;
		   transition:0.5s all;
		   -webkit-transition:0.5s all;
		   -moz-transition:0.5s all;
		   -o-transition:0.5s all;
		   -ms-transition:0.5s all;
		   border-bottom: 2px solid #F8D9DD;
		}

/*로그인버튼*/  
#login .btn-border {
	color: #727476;
	font-size: 15px;
	border: 1px solid #808080;
	border-radius: 8px;
	padding: 1px 25px;
}

#login a.nav-link:hover{
	color: #F8D9DD;
	border:1px solid #F8D9DD;
}

/*main 기초*/
#main {
	text-align: center;
}



/*footer*/
#footer {
    background: rgba(247, 247, 247, 0.95);
    color: rgba(93, 93, 93, 0.8);
	padding-top: 20px;
	padding-bottom :20px;
	font-size: 14px;
	line-height: 15px;
}



/* Tablet & Desktop Device */
/* @media all and (min-width:768px) and (max-width:1140px){
	.content-container {
	margin: auto;
	width: 100%;
	min-height: inherit;
	height: inherit;
	}
	
}

Mobile Device 768px 미만의 해상도
@media all and (max-width:768px){
	.content-container {
	margin: auto;
	width: 100%;
	min-height: inherit;
	height: inherit;
	}
	#body div{
		padding:0px;
		padding-top:10px;
	}
	
} */
/* dropdown css */


@charset "UTF-8";

.nav-items {
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 25px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link,
.nav-link:link, 
.nav-link:visited, 
.nav-link:active {
    /* color: #fff; */
    font-weight: bold;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  /*   height: 3px; */
   /*  background: rgba(0,0,0,0.2); *//*underbar color  */
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before,
.nav-link:hover::before {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
}

.dropdown {
    position: relative;
}

.dropdown .nav-link {
    padding-right: 15px;
    height: 17px;
    line-height: 17px;
}

.dropdown .nav-link::after {
    content: "";
    position:absolute;
    top: 6px;
    right: 0;
    border: 5px solid transparent;
  /*   border-top-color: #fff; */
}

.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 100;
    width: 200px;
    margin-left: -100px;
  /*   background: #fff; */
    border-radius: 3px;
    line-height: 1.46667;
    margin-top: -5px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    opacity:0;
    -webkit-transform: translate(0, 0) scale(.85);
    transform: translate(0, 0)scale(.85);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.submenu::after, 
.submenu::before {
    content: ""; 
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    height: 0;
}
/* 
.submenu::after {
    border-bottom-color: #fff;
}
 */
 .nav-items {
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 25px;
}

.nav-item:last-child {
    margin-right: 0;
    margin-top: 6px;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
   /*  background: rgba(0,0,0,0.2); *//*underbar color  */
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before,
.nav-link:hover::before {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
}

.dropdown {
    position: relative;
}

.dropdown .nav-link {
    padding-right: 15px;
    height: 40px;
    line-height: 40px;
}

.dropdown .nav-link::after {
    content: "";
    position:absolute;
    top: 6px;
    right: 0;
    border: 5px solid transparent;
  /*   border-top-color: #fff; */
}

.submenu {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 100;
    width: 150px;
    margin-left: -80px;
  /*   background: #fff; */
    border-radius: 3px;
    line-height: 1.46667;
    margin-top: -5px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    opacity:0;
    -webkit-transform: translate(0, 0) scale(.85);
    transform: translate(0, 0)scale(.85);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.submenu::after, 
.submenu::before {
    content: ""; 
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border: 10px solid transparent;
    height: 0;
}
.submenu::before {
    margin-left: -13px;
    border: 13px solid transparent;/* 서브메뉴 화살표  */
    border-bottom-color: rgba(248, 217, 221, 0.8);
    -webkit-filter:blur(1px);
    filter:blur(1px);
}

.submenu-items {
    list-style: none;
    padding: 10px 0;
}

.submenu-item {
    text-align: left;
}

.submenu-link,
.submenu-link:link, 
.submenu-link:visited, 
.submenu-link:active {
 /*    color: #3498db; */
    padding: 5px 10px;
}

.submenu-link:hover {
    text-decoration: underline;
}

.show-submenu .submenu {
    opacity: 1;
    -webkit-transform: translate(0, 25px) scale(1);
    transform: translate(0, 25px) scale(1);
    pointer-events: auto;
    background: rgba(248, 217, 221, 0.8);
}

.main {
	text-align: unset;
	padding: 50px;
	padding-bottom: 90px;
	display: grid;
}

.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
select.text-right {
	width: 140px;
	height: 24px;
	margin-right: 10px;
    margin-left: 10px;
}

.mem-information > h3 {
	margin: 10px;
}

.mem-information{
	    font-weight: bold;
	    padding-left: 70px;
		height: 50px;
		margin-left:51px;
		background: url(../images/resume.png) no-repeat left center;
		background-size: contain;
}
.mem-cancel{
	    font-weight: bold;
	    padding-left: 70px;
		height: 50px;
		margin-left:51px;
		font-size: 13px;
}

.title-box{
		float:left;
		margin-left: 10px;
		margin-right: 30px;
		text-align:center;
		width:200px;
		padding:10px 0px 10px 0px;
		
}
.content-box{
		text-align:center;
		width:540px;
		
		border: 1px solid #e0e0e0;
		float:right;
}
	.dc-name{
		/* border: 1px solid #e0e0e0;
   		border-radius: 10px; */
		font-size: 15px;
		padding: 10px 0px 10px 0px;
	}
	.mem-fixed{
		border: none;
		font-weight: 800;
	}
	.self{
	   margin-bottom:20px;
	}
	.self-certification-check{
		border: 1px solid #e0e0e0;
	    border-radius: 5px;
	    float: left;
	    width: 85%;
	    text-align: center;
   		padding: 10px;
   		margin-left: 120px;
    	margin-top: 20px;
	}
	
/* button */
	
.simform-actions {
    padding: 15px;
    font-size: 3px;
}

.submit {
	height: 48px;
    float: right;
    color: #FFF;
    width: 50%;
    font-weight: 700;
    font-size: 16px;
    background: rgb(239, 102, 120);
    margin-top: 7px;
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    outline: none;
    outline-offset: 0;
    font-weight: 400;
    box-shadow: none;
    min-width: 90px;
    padding: 10px 14px;
}


/*modal*/
.modal,
.modal-box {
  z-index: 900;
}
.modal-body.center {
    text-align: center;
}
.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

.modal-header {
  height: 50px;
  padding: 0px 20px 40px 20px;
  background: #546E7A;
  color: #ffffff;
  font-size: 13px;
}

.modal-body {
  background: #ECEFF1;
  padding: 30px;
}

/* Close Button */
.close-modal {
  text-align: right;
  cursor: pointer;
}
.btn-modal {
  text-align: right;
  cursor: pointer;
}
/* Animation */
/* @-webkit-keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
} */


.modal-trigger, button.close-modal, .btn-modal {
  padding: 10px 20px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
}

.modal-trigger {
  background: #B0BEC5;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: ease .2s;
  /* margin-left: 100px; */
}

button.close-modal, .btn-modal {
  border: 1px solid rgba(51, 51, 51, 0.53);
  outline: none;
  color: #333333;
}

.modal-trigger:hover {
  padding: 20px 60px;
}